.container {
  width: 100%;
  max-width: var(--container-d);
  margin-inline: auto;
  padding-inline: var(--container-pad-m);
}

@media (min-width: 1320px) {
  .container {
    padding-inline: var(--container-pad-d);
  }
}

.section {
  padding-block: 40px;
}

@media (min-width: 1320px) {
  .section {
    padding-block: 60px;
  }
}
